@mixin CenterElement {
    display: flex;
    align-items: center;
    justify-content: center;
}

@mixin StimulusDiv {
    >label {
        color: #666666;
        font-size: 12px;
    }

    >.multipleInputs {
        margin-top: 12px;
        width: 100%;

        >div {
            display: flex;
            margin-bottom: 39px;

            >button {
                display: flex;
                align-items: center;
                justify-content: center;
                background-color: #FFFFFF;
                border: 1px solid #0000001F;
            }

            >input {
                width: 100%;
                padding: 5px;
                outline: none;
                border: 1px solid #0000001F;

            }

            >button {
                border: 1px solid #0000001F;
            }
        }
    }

    >button {
        width: 20%;
        margin-top: -7px;
        background-color: #E2F8FE;
        border: 1px solid #7994B3;
        color: #222222;
        font-size: 14px;
        box-shadow: 0px 3px 6px #00000029;
        border-radius: 2px;
        padding: 5px;
    }
}

.mainContainer {
    display: flex;
    flex-direction: column;

    // align-items: start;
    // justify-content: center;
    >.maintop {
        flex: 0.1;
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: #3C4E62;
        padding: 0 24px;


        >.backArrow {
            color: #3FD28B;
            font-size: 24px;
        }

        >p {
            color: #FFFFFF;
            font-size: 16px;
        }

        >.buttons {
            >button {
                background-color: #3FD28B;
                border: none;
                padding: 5px 15px;
                margin-left: 15px;
                text-align: center;
            }
        }
    }

    >.mainRest {
        flex: 0.9;
        background-color: #EEEEEE;
        padding: 26px 24px;

        >.mainRestTop {
            display: flex;
            align-items: center;
            justify-content: space-between;
            // padding: 15px 10px;
            margin-bottom: 24px;

            >p {
                color: #666666;
                font-size: 12px;
                font-weight: 500;
                margin: 0;

                >span {
                    color: #222222;
                    font-size: 20px;
                    font-weight: 600;
                }
            }

            >div {
                display: flex;
                >button {
                    background-color: #E2F8FE;
                    display: flex;
                    align-items: center;
                    border: 1px solid #7994B3;
                    color: #222222;
                    padding: 2px 10px;
                    font-size: 14px;
                    margin-right: 10px;
                    border-radius: 2px;
                }
            }
        }

        >.mainRestTitle {
            background-color: #FFFFFF;
            display: flex;
            align-items: center;
            justify-content: space-between;
            height: 56px;
            padding: 0 24px;

            >.mainRestTitleLeft {
                @include CenterElement();
                padding: 0px 10px;
                height: 100%;

                >.left-1 {
                    background-color: #3FD28B;
                    border-radius: 50%;
                    width: 32px;
                    height: 32px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }

                >.left-2 {
                    margin-left: 8px;
                    color: #222222;
                    font-size: 16px;
                    font-weight: 600;
                }
            }

            >.mainRestTitleMiddle {
                flex: 1;
                border: 1px solid rgba(34, 34, 34, 0.12);
            }

            >.mainRestTitleRight {
                @include CenterElement();
                padding: 0px 10px;
                height: 56px;


                >.right-1 {
                    background-color: #3FD28B;
                    border-radius: 50%;
                    font-weight: 600;
                    width: 32px;
                    height: 32px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }

                >.right-2 {
                    margin-left: 8px;
                    color: #222222;
                    font-size: 16px;
                    font-weight: 600;
                }
            }
        }

        >.mainRestContainer {
            background-color: #FFFFFF;
            margin-top: 24px;
            padding: 24px;

            >.q-1 {
                display: flex;
                flex-direction: column;
                align-items: start;

                >label {
                    color: #666666;
                    font-size: 12px;
                }

                >input {
                    margin-top: 12px;
                    width: 100%;
                    border: none;
                    border-bottom: 1px solid #CECECE;
                    outline: none;

                    &::placeholder {
                        color: #666666;
                        font-size: 16px;
                    }
                }
            }

            >.q-2 {
                margin-top: 56px;
                display: flex;
                align-items: center;
                justify-content: space-between;

                >input {
                    width: 45%;
                    border: none;
                    border-bottom: 1px solid #CECECE;
                    outline: none;

                    &::placeholder {
                        color: #666666;
                        font-size: 16px;
                    }
                }
            }

            >.stimulus {
                display: flex;
                align-items: center;
                justify-content: space-between;
                margin-top: 56px;


                >.stimulus-question {
                    width: 45%;
                    display: flex;
                    flex-direction: column;

                    @include StimulusDiv();


                }

                >.stimulus-response {
                    width: 45%;
                    display: flex;
                    flex-direction: column;

                    @include StimulusDiv();
                }
            }

            >.connectionSelect {
                margin-top: 56px;

                >label {
                    color: #666666;
                    font-size: 12px;
                }

                >.radioBtns {
                    margin-top: 14px;
                    display: flex;

                    >div {
                        display: flex;
                        align-items: center;

                        >input {
                            width: 20px;
                            height: 24px;
                            color: #1F7A54;
                        }

                        ;

                        >p {
                            color: #040404;
                            font-size: 16px;
                            font-weight: 600;
                            margin-left: 3px;
                        }
                    }

                    >:nth-child(2) {
                        margin-left: 10px;
                    }
                }

                >.maxConnections {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    margin-top: -16px;

                    >p {
                        color: #666666;
                        font-size: 16px;
                    }

                    >select {
                        border: none;
                        color: #666666;
                        border-bottom: 1px solid #666666;
                        margin-left: 5px;
                        padding: 5px;
                    }
                }
            }

            >.setAnswers {
                margin-top: 60px;

                >label {
                    color: #666666;
                    font-size: 12px;
                }

                .set-answer-div-inner {

                    background-color: #F3FBFF;
                    >.matchValues {

                        display: grid;
                        grid-template-columns: repeat(3, 1fr);                       
                        height: fit-content;
                        padding: 0px 25px;
                        margin-top: 24px;
                        .match{
                            background-color: transparent;
                            height: 100%;
                            overflow: hidden;
                            svg {
                                height: 100%;
                                width: 100%;
                                display: block;
                            }
                        }
                      
                        .circle-target {
                            position: absolute;
                            height: 24px;
                            width: 24px;
                            border: 2px solid #1F7A54;
                            background-color: #F3FBFF;
                            border-radius: 50%;
                        }

                        .circle-target-left {
                            right: -35px;
                        }
                        .circle-target-right {
                            left: -35px;
                        }
                        >.questions{
                            // background-color: aqua;
    
                            >div{
                                border: 1px solid #0000001F;
                                background-color: white;
                                position: relative;
                                padding: 0 20px;
                                margin-top: 24px;
                                height: 32px;
                                display: flex;
                                align-items: center;
                                justify-content: start;
                                >p{
                                    color: #222222;
                                    font-size: 16px;
                                    font-weight: 600;
                                }
                            }
                        }
    
                        
    
                        >.responses{
                            >div{
                                border: 1px solid #0000001F;
                                background-color: white;
                                position: relative;
                                padding: 0 20px;
                                margin-top: 24px;
                                height: 32px;
                                display: flex;
                                align-items: center;
                                justify-content: start;
                                >p{
                                    color: #222222;
                                    font-size: 16px;
                                    font-weight: 600;
                                }
                            }
                        }
                    }
    
                    >.extraFeatures {
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        border-top: 1px solid #cfcbcb;
                        padding: 0 20px;
                        margin-top: 36px;
    
                        >.f-1 {
                            display: flex;
    
                            >input {
                                color: #1F7A54;
                            }
    
                            >p {
                                color: #222222;
                                font-size: 16px;
                                font-weight: 600;
                            }
    
                            &:nth-child(2) {
                                margin-left: 10px;
                            }
                        }
    
                        >.f-2 {
                            display: flex;
    
                            >p {
                                color: #1F7A54;
                                font-size: 14px;
                            }
                        }
                    }
                }
            }
        }

        >.selectTools {
            background-color: #FFFFFF;
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 5px 20px;
            margin-top: 8px;

            >p{
                color: #1F7A54;
                font-size: 16px;
                font-weight: 600;
            }
        }

        >.addFeedback {
            background-color: #FFFFFF;
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 5px 20px;
            margin-top: 8px;

            >p{
                color: #1F7A54;
                font-size: 16px;
                font-weight: 600;
            }
        }

        >.previousBtn {
            @include CenterElement();
            margin-top: 37px;

            >button {
                background-color: #3FD28B;
                border-radius: 2px;
                padding: 5px 10px;
                border: none;

            }
        }
    }
}